{% extends "dashboard/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "dashboard/css/datatables.min.css" %}">
<link rel="stylesheet" href="{% static "dashboard/css/multi.min.css" %}">
{% endblock %}

{% block title %}NTU Stores - Edit Order{% endblock %}

{% block main %}
<!-- Dashboard / Button Toolbar -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 pb-2 border-bottom" id="Dashboard-bar">
    <h3>
        {% if request.resolver_match.view_name == 'dashboard:add_product' %}Add
        {% else %}Order{% endif %} Product
    </h3>

    <div class="btn-toolbar mb-2 mb-md-0">
        <a class="btn" href="{% url 'dashboard:orders' %}">
            <i class="fas fa-arrow-left pr-1"></i>
            Return to Orders
        </a>
    </div>
</div>

<div class="table-container mb-2">
    <div class="order-form">

        <form method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.non_field_errors }}
            </div>
            {% endif %}

            {% for field in form %}
            {% if field == form.promised_date %}
            <div class="form-group">
                {{ field.label_tag }}

                {% if field.errors %}
                <div class="invalid-feedback d-block">
                    {{ field.errors }}
                </div>
                {% endif %}

                <input type="date" id="{{ field.id_for_label }}"
                       name="{{ field.name }}"
                       value="{{ field.value|date:"Y-m-d"|default:"" }}">
                <small class="form-text text-muted">{{ field.help_text }}</small>
            </div>
            {% else %}
            <div class="form-group">
                {{ field.label_tag }}

                {% if field.errors %}
                <div class="invalid-feedback d-block">
                    {{ field.errors }}
                </div>
                {% endif %}

                {{ field }}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            </div>
            {% endif %}
            {% endfor %}

            <input type="submit" value="Save" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static "dashboard/js/multi.min.js" %}"></script>
<script>
 $(document).ready(function() {
     $('input').addClass('form-control');
     $('select').addClass('form-control');
     $('input[type=submit]').removeClass('form-control');
     $('input[type=checkbox]').removeClass('form-control');

     $('select').multi();
 });
</script>
{% endblock %}
